@using APRST.WEB.Models
@model APRST.WEB.Models.QuestionnaireCategoryIncludeQuestionsViewModel

@{
    ViewBag.Title = "Подробнее о категории";
}

<h2>Подробнее о категории</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCategory)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

    </dl>

    <hr />

    <h4>Вопросы в данной категории</h4>

    <hr />

    @Html.RouteLink("Добавить вопрос к категории", new { action = "Create", controller = "QuestionnaireQuestion", id = Model.Id }, new { @class = "btn btn-primary btn-xs" })

    <table class="table">
        <tr class="success">
            <th>Id</th>
            <th>Название</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (QuestionnaireQuestionViewModel item in @Model.Questions)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.NameOfQuestion</td>
                <td style="text-align: right; padding: 8px 3px 8px 8px;">
                    @Html.RouteLink("Редактировать", new { action = "Edit", controller = "QuestionnaireQuestion", id = item.Id }, new { @class = "btn btn-success btn-xs" })
                </td>
                <td width="5%" style="text-align: right; padding: 8px 8px 8px 0;">
                    @using (Html.BeginForm("Delete", "QuestionnaireQuestion"))
                    {
                        <input name="id" value="@item.Id" hidden />
                            <input type="submit" value="Удалить" class="btn btn-danger btn-xs" onclick="return confirm('Вы уверены?')" />
                    }
                </td>

            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Редактировать данную категорию", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад, к списку категорий", "Index")
</p>
