@model IEnumerable<APRST.WEB.Models.QuestionnaireCategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Категории вопросов в анкатах</h2>

<p>
    @Html.ActionLink("Создать новую категорию", "Create", new { area = "" }, new { @class = "btn btn-primary btn-xs" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td style="text-align: right;">
            @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}, new {@class = "btn btn-success btn-xs"})
            @Html.ActionLink("Подробнее", "Details", new {id = item.Id}, new {@class = "btn btn-warning btn-xs"})
        </td>
        <td width="5%" style="text-align: right; padding: 8px 8px 8px 0;">
            @using (Html.BeginForm("Delete", "QuestionnaireCategory"))
            {
                <input name="id" value="@item.Id" hidden />
                        <input type="submit" value="Удалить" class="btn btn-danger btn-xs" onclick="return confirm('Вы уверены?')" />
            }
        </td>

    </tr>
}

</table>
