@model IEnumerable<APRST.WEB.Models.UserProfileViewModel>

@{
    ViewBag.Title = "Профиль";
}

<h2>Все пользователи в системе</h2>

<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPrincipalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SamAccoutName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPrincipalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SamAccoutName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.RouteLink("Просмотреть профиль", new { action = "profile", controller = "User", id = item.SamAccoutName }, new { @class = "btn btn-success btn-xs" })
            </td>
        </tr>
    }

</table>
