@model IEnumerable<APRST.WEB.Models.TestInfoViewModel>

@{
    ViewBag.Title = "Выдать тест";
}

<h2>Выберите тест для пользователя</h2>

<hr />

<table class="table">
    <tr class="success">
        <th>
            Название
        </th>
        <th>
            Описание
        </th>
        <th>
            Категория
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.NameOfTest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td style="text-align: right;">
                <form method="post" action="">
                    <input value="@ViewBag.ABC" name="userid" hidden />
                    <input type="hidden" name="testid" value="@item.Id" />
                    <input type="submit" value="Выдать тест" class="btn btn-success btn-xs"/>
                </form>
            </td>

        </tr>


    }

</table>
