@model APRST.WEB.Models.UserProfileIncludeTestsViewModel
@using APRST.WEB.Models
@{
    ViewBag.Title = "Профиль";
}

<style>
    .block {
        background: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin: 5px 0 5px 0;
    }
</style>



<div>
    <h3>Профиль</h3>
    <hr/>
    <img src="@Model.Avatar"/>
    <dl class="dl-horizontal block">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIdentityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIdentityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>

<h3>Доступные тесты</h3>
    <table class="table">
        <tr class="success">
            <td>Id</td>
            <td>Название теста</td>
            <td>Описание</td>
            <td style="text-align: right;">@Html.RouteLink("Выдать тест", new { action = "GiveTest", controller = "User", id = Model.Id }, new { @class = "btn btn-success btn-xs" })</td>
        </tr>
    @foreach (TestInfoViewModel test in Model.Tests)
    {
        <tr>
            <td>@test.Id</td>
            <td>@test.NameOfTest</td>
            <td>@test.Desc</td>
            <td style="text-align: right;">@Html.RouteLink("Пройти", new { action = "Testing", controller = "Test", id = test.Id }, new { @class = "btn btn-primary btn-xs" })</td>
        </tr>
    }
</table>
