@model APRST.WEB.Models.UserProfileViewModel

@{
    ViewBag.Title = "Регистрация пользователя";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация - Appraisal Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <header class="userbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userbar-logo">
                        <a href="/user/index">
                            <img src="~/content/images/logo.png" alt="Appraisal Tool">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="usertable">

        <div class="container">

            <div class="table-top">
                <i class="fa fa-user" aria-hidden="true"></i>
                Регистрация пользователя
            </div>

            <div class="table-body">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    Ваше имя в системе
                                </span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input-g" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    Имя участника-пользователя
                                </span>
                                @Html.EditorFor(model => model.UserPrincipalName, new { htmlAttributes = new { @class = "input-g" } })
                                @Html.ValidationMessageFor(model => model.UserPrincipalName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-windows" aria-hidden="true"></i>
                                    Логин в Active Directory
                                </span>
                                @Html.EditorFor(model => model.SamAccoutName, new { htmlAttributes = new { @class = "input-g", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SamAccoutName, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                    Сетевое имя
                                </span>
                                @Html.EditorFor(model => model.UserIdentityName, new { htmlAttributes = new { @class = "input-g", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.UserIdentityName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Email
                                </span>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-g" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <span class="reg-titles">
                                    <i class="fa fa-phone-square" aria-hidden="true"></i>
                                    Номер телефона
                                </span>
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input-g" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Зарегистрироваться" class="button-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="table-end"></div>
        </div>
    </section>

    @Scripts.Render("~/bundles/customJS")
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
