@using APRST.WEB.Models
@model APRST.WEB.Models.TestCategoryIncludeTestsViewModel

@{
    ViewBag.Title = "Подробнее о категории";
}

<h2>Подробнее о категории</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCategory)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>

    </dl>

    <hr />

    <h4>Тесты в данной категории</h4>

    <table class="table">
        <tr class="success">
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
        </tr>
        
            @foreach (TestForCategoryViewModel test in @Model.Tests)
            {
                <tr>
                    <td>@test.Id</td>
                    <td>@test.NameOfTest</td>
                    <td>@test.Desc</td>
                </tr>
            }
                
    </table>
</div>
<p>
    @Html.ActionLink("Редактировать данную категорию", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад, к списку категорий", "Index")
</p>
