@model IEnumerable<APRST.WEB.Models.QuestionnaireCategoryIncludeQuestionsViewModel>
@{
    ViewBag.Title = "CreateQuestionnaire";
}

<h2>CreateQuestionnaire</h2>

@foreach (var item in @Model)
{
    <p>@item.NameOfCategory</p>
    <ul>
        @foreach (var question in item.Questions)
        {
            <li>@question.NameOfQuestion</li>
            for (int i = 0; i < 5; i++)
            {
                <input name="@question.Id" class="@question.Id" value="@i" type="radio" />
            }
        }
    </ul>
}

