@model APRST.WEB.Models.TestInfoViewModel

@{
    ViewBag.Title = "Удаление теста";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить этот тест?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.NameOfTest)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название теста
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfTest)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад, к списку тестов", "Index")
        </div>
    }
</div>
