@using APRST.WEB.Models
@model APRST.WEB.Models.TestWithQuestionViewModel

@{
    ViewBag.Title = "Details";
    int counter = 1;
}

<h2>Подробнее о тесте</h2>

<div>
    <h4>@Html.DisplayFor(model => model.NameOfTest)</h4>

    <hr />

    @Html.RouteLink("Добавить вопрос к тесту", new { action = "Create", controller = "Question", id = Model.Id }, new { @class = "btn btn-primary btn-xs" })

    <dl class="dl-horizontal">

        <table class="table">
            <tr class="success">
                <th width="15%">Номер вопроса</th>
                <th>Вопрос</th>
                <th></th>
                <th></th>
            </tr>

            @foreach (TestQuestionViewModel item in @Model.Questions)
            {
                <tr>
                    <td>@counter</td>
                    <td>@Html.RouteLink(item.Question, new { action = "Details", controller = "Question", id = item.Id })</td>
                    <td style="text-align: right; padding: 8px 3px 8px 8px;">
                        @Html.RouteLink("Редактировать", new { action = "Edit", controller = "Question", id = item.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.RouteLink("Подробнее", new { action = "Details", controller = "Question", id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    </td>
                    <td width="5%" style="text-align: right; padding: 8px 8px 8px 0;">
                        @using (Html.BeginForm("Delete", "Question"))
                        {
                            <input name="id" value="@item.Id" hidden />
                            <input type="submit" value="Удалить" class="btn btn-danger btn-xs" onclick="return confirm('Вы уверены?')" />
                        }
                    </td>
                </tr>

                counter++;
            }

        </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать тест", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад, к списку тестов", "Index")
</p>
