<!DOCTYPE html>
<html ng-app="ApraisalToolApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Appraisal Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <header class="userbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userbar-logo">
                        <a href="#">
                            <img src="~/content/images/logo.png" alt="Appraisal Tool">
                        </a>
                    </div>
                    <div class="userbar-block">
                        @Html.RouteLink(User.Identity.Name, new { action = "Index", controller = "User" }, new { @class = "hidden-sm hidden-xs" })
                        @Html.RouteLink("?", new { action = "Index", controller = "User" }, new { @class = "noavatar" })
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="menubar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="menubar-button hidden-md hidden-lg"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <div class="menubar-menu">
                        <ul>
                            <li>@Html.RouteLink("Главная", new { action = "Index", controller = "Admin" })</li>
                            <li>@Html.RouteLink("Пользователи", new { action = "All", controller = "User" })</li>
                            <li>
                                <a href="/Questionnaire/Manage">
                                    Анкеты
                                    <div class="i-counter">
                                        <span>24</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/Test/Index">
                                    Тесты
                                    <div class="i-counter" ng-controller="TestsCtrl">
                                        <span ng-bind="tests.length"></span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menubar-settings">
                        <a href="#">Настройки <i class="fa fa-cog" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/customJS")
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
