<!DOCTYPE html>
<html ng-app="ApraisalToolApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Appraisal Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <header class="userbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userbar-logo">
                        <a href="#/User">
                            <img src="~/content/images/logo.png" alt="Appraisal Tool">
                        </a>
                    </div>
                    <div class="userbar-block" ng-controller="UserProfileCtrl">
                        <a href="#/User" class="hidden-sm hidden-xs">{{userProfile.Name}}</a>
                        <a class="noavatar" href="#/User" ng-bind-html="avatar"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="menubar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="menubar-button hidden-md hidden-lg"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <div class="menubar-menu">
                        <ul>
                            <li>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a href="#/Admin">Главная</a>
                                    }
                                    else
                                    {
                                        <a href="#/User">Главная</a>
                                    }
                                }
                            </li>
                            <li><a href="#/AllUsers">Пользователи</a></li>
                            <li>
                                <div ng-controller="QuestionnairesCtrl">
                                    <a href ng-click="GetQuestionnaire()">
                                        Моя анкета
                                    </a>
                                </div>
                            </li>

                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="#/Questionnaires">
                                            Анкеты
                                            <div class="i-counter" ng-controller="QuestionnairesCtrl">
                                                <span ng-bind="questionnaires.length"></span>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }


                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="#/Tests">
                                            Тесты
                                            <div class="i-counter" ng-controller="TestsCtrl">
                                                <span ng-bind="tests.length"></span>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                    <div class="menubar-settings" ng-controller="SettingsCtrl">
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <a href ng-click="ShowSettings()">Настройки <i class="fa fa-cog" aria-hidden="true"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()
    <ng-view class="active-section no-scrollbar"></ng-view>
    @Scripts.Render("~/bundles/customJS")
    @Scripts.Render("~/bundles/angular-ui")
    @RenderSection("scripts", required: false)
</body>
</html>
