<!DOCTYPE html>
<html ng-app="ApraisalToolApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Appraisal Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>

    <header class="userbar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="userbar-logo">
                        <a href="/user/index">
                            <img src="~/content/images/logo.png" alt="Appraisal Tool">
                        </a>
                    </div>
                    <div class="userbar-block" ng-controller="AvatarCtrl">
                        @Html.RouteLink(User.Identity.Name, new { action = "Index", controller = "User" }, new { @class = "hidden-sm hidden-xs" })
                        <a class="noavatar" ng-cloak>
                            <img src="{{avatar}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="menubar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button class="menubar-button hidden-md hidden-lg"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    <div class="menubar-menu">
                        <ul>
                            <li>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        @Html.RouteLink("Главная", new { action = "Index", controller = "Admin" })
                                    }
                                    else
                                    {
                                        @Html.RouteLink("Главная", new { action = "Index", controller = "User" })
                                    }
                                }
                            </li>
                            <li>@Html.RouteLink("Пользователи", new { action = "All", controller = "User" })</li>
                            <li>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a href="/Questionnaire/Manage">
                                            Анкеты
                                            <div class="i-counter" ng-controller="QuestionnaireManageCtrl">
                                                <span ng-bind="questionnaires.length"></span>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <div ng-controller="QuestionnaireManageCtrl">
                                            <a href="#" ng-click="GetQuestionnaire()">
                                                Моя анкета
                                            </a>
                                        </div>
                                    }
                                }
                            </li>

                            @{
                                if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a href="/Test/Index">
                                            Тесты
                                            <div class="i-counter" ng-controller="TestsCtrl">
                                                <span ng-bind="tests.length"></span>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                    <div class="menubar-settings">
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <a href="#">Настройки <i class="fa fa-cog" aria-hidden="true"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    @Scripts.Render("~/bundles/customJS")
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
